
body {
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 50%, 14%);
  height: 115vh;
  color: #fff;
  font-family: Blippo;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #ff4da6,
    0 0 80px #ff4da6,
    0 0 90px #ff4da6,
    0 0 100px #ff4da6,
    0 0 150px #ff4da6;
  
}
.headr {
    padding: 40px;
    text-align: center ;
    background: hsl(210, 50%, 14%);
    font-size: 30px;
    width: 75%;
    opacity: 0.9;
    border: 3px solid yellow;
    box-shadow: 0px 10px 40px 5px yellow;
    margin:auto;
    }
    
   
    
  

  .content{
    text-align: center;
    background: hsl(210, 50%, 14%);
    color: yellow;
    font-size: 30px;
    margin: auto;
    width: 75%;
    opacity: 0.9;
    border-radius: 2%;
    border: 3px solid red;
    margin-top: 20px;
    color: #fff;
    text-align: center;
   
    box-shadow: 0px 10px 40px 5px red;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

.option{
  background: hsl(210, 50%, 14%);
    display:inline-block;
    height:45px;
    width:130px;
    border:3px solid #26C956;
    transition: 1s ease;
    margin:3px;
    border-radius: 8%;
    
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  font-family: "verdana";
  font-size: 25px;
  color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    box-shadow: 0px 10px 40px 5px #26C956;
}

   
    .option:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.2s ease;
    }

    

    #mainimg{
      margin:10px;
      border-radius: 50%;
      box-shadow: 0px 10px 40px 5px #26C956;
      border:3px solid #26C956;
    }

    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      text-align: center;
      border-top:3px solid yellow;
      box-shadow: 0px 10px 40px 5px yellow;
      animation: glow 1s ease-in-out infinite alternate;
      display:block;
   }

   
   .mContent{
    background: hsl(210, 50%, 14%);
    font-size: 30px;
    margin: auto;
    opacity: 0.9;
    width: 35%;
    border-radius: 2%;
    border: 3px solid red;
    margin-top: 20px;
    color: #fff;
    text-align: center;
    box-shadow: 0px 10px 40px 5px red;
    display:grid;
    
    padding: 30px;
    
   }

.mapouter{
  margin:20px;
}

.itemPic{
  height:120px;
  width:120px;
  border-radius: 80%;
  box-shadow: 0px 10px 40px 5px #26C956;
      border:3px solid #26C956;
      float:left;
      transition: 1s ease;
      transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  display:inline;
}


  p{
   
  display:inline-block;
    
  }
  .menuItem{
    transition: 1s ease;
      transition-duration: 0.3s;
  text-decoration: none;
  cursor: pointer;

  }

  .menuItem:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.2s ease;
    }